:root{
    --main-color:#1296f3;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}

.game{
    background-color: #eee;
    min-height: 100vh;
}
